<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//cdn.jsdelivr.net/phaser/2.4.4/phaser.min.js"></script>
    <title><%= title %></title>
</head>

<body>
<div ng-app="myApp" class="container">
    <h1><%= title %></h1>
    <img src="img/backgrounds/background-0.jpg" class="img-responsive" alt="Galactic Conquest">
    <h2><%= menuText %></h2>
    <button><%= boardOnly %></button>
    <button><%= boardHand %></button>
    <button><%= handOnly %></button>
</div>
</body>
</html>